<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body onload="myFunction()">
    <div id="loader"><img src="/img/lpicon.png" alt=""></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
    <%- include('../partials/header') %>
    <section class="detalleSuscrip">
        <% if(typeof usuarioLogueado != "undefined" && usuarioLogueado.admin == 1) {%> 
            <a href="/admin/editSuscription/<%= suscription.id %>"><button type=“button” class="carga">EDITAR</button></a> 
            <a href="/admin/deleteSuscription/<%= suscription.id %>"><button type=“button” class="carga">ELIMINAR</button></a>
        <% } %>
        <img class="suscripcion" src="/img/imagenSuscripcion.png" alt="Gatito dentro de una caja">
        <article>
            <h1 id="nombre"><%= suscription.nombre   %></h1>
            <h2 id="precio">$ <%= suscription.precio   %></h2>
            <div class="mediosDePago">
                <img src="/img/Amex.png" alt="American Express">
                <img src="/img/Visa.png" alt="Visa">
                <img src="/img/Diners.png" alt="Diners">
                <img src="/img/PayPal.png" alt="Pay Pal">
                <img src="/img/Master.png" alt="Master Card">
            </div>
            <h3>Detalle</h3>
            <p><%= suscription.detalle   %></p>
            <div class="cant">
                <label>Cantidad</label>
                <input type=“number” name=“cantidad” id="cantidad">
            </div>
            <button class="addCart"><img src="/img/carrito2.png">Añadir al carrito</button>
        </article>
    </section>
    <hr>
    <h2 class="titulo">Productos Similares</h2>
    <%- include('../partials/sectionProducts') %>  
    <%- include('../partials/footer') %>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/loadjs.js" type="text/javascript"> </script>
<script src="/js/addCartjs.js" type="text/javascript"> </script>  
</body>
</html>