<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <%- include('../partials/header') %>
    <section class="suscripciones">
        <article>
            <img class="suscripcion" src="/img/imagenSuscripcion.png" alt="Gatito dentro de una caja">
            <h2>PLAN PREMIUM</h2>
            <h1>$ PRECIO</h1>
            <p>Incluye:</p>
            <ul>
                <li>1 botella de vino cepa elegida</li>
                <li>1 kilo de café variedad elegida</li>
                <li>1 libro género elegido</li>
                <li>1 vinilo estilo elegido</li>
            </ul>
            <a href="">MÁS INFO</a>
        </article>
        <article>
            <img class="suscripcion" src="/img/imagenSuscripcion.png" alt="Gatito dentro de una caja">
            <h2>PLAN BASICO</h2>
            <h1>$ PRECIO</h1>
            <p>Incluye:</p>
            <ul>
                <li>1 botella de vino cepa elegida o 1 kilo de café variedad elegida</li>
                <li>1 libro género elegido o 1 vinilo estilo elegido</li>
            </ul>
            <a href="">MÁS INFO</a>
        </article>
        <article>
            <img class="suscripcion" src="/img/imagenSuscripcion.png" alt="Gatito dentro de una caja">
            <h2>PLAN A MEDIDA</h2>
            <h1>$ PRECIO</h1>
            <p>Incluye:</p>
            <ul>
                <li>1 botella de vino cepa elegida o 1 kilo de café variedad elegida o 1 libro género elegido o 1 vinilo estilo elegido</li>
            </ul>
            <a href="">MÁS INFO</a>
        </article>
    </section>
    <hr>
    <%- include('../partials/asociate') %>  
    <hr>
    <h2 class="prodSimi">Productos Similares</h2>
    <%- include('../partials/sectionProducts') %>  
    <%- include('../partials/footer') %>  
</body>
</html>