<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <%- include('../partials/header') %>
    <section class="suscripciones">
        <% for (let i = 0; i < suscriptionsArray.length; i++) { %> 
        <article>
            <img class="suscripcion" src="/img/imagenSuscripcion.png" alt="Gatito dentro de una caja">
            <h2><%= suscriptionsArray[i].nombre  %></h2>
            <h1>$ <%= suscriptionsArray[i].precio  %></h1>
            <h3>Detalle:</h3>
            <p><%= suscriptionsArray[i].detalle  %></p>
            <a href="/suscriptions/<%= suscriptionsArray[i].id  %>">MÁS INFO</a>
        </article>
        <% } %> 
    </section>
    <hr>
    <%- include('../partials/asociate') %>  
    <hr>
    <h2 class="prodSimi">Productos Similares</h2>
    <%- include('../partials/sectionProducts') %>  
    <%- include('../partials/footer') %>  
</body>
</html>