<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header') %>
    <h1 class="tituloSec">Listado de Productos</h1>
    <section class="productList">
    <% if(productsArray != 0) {%> 
    <% for(let i=0; i < productsArray.length; i++){%>
        <article>
            <a href="/product/<%=productsArray[i].id%>"><img width="200px" src="/img/uploads/products/<%= productsArray[i].images.length>0?productsArray[i].images[0].nombre: null%>"></a>
            <details>
                <summary><%=productsArray[i].nombre %> </summary>
                <p>$<%=productsArray[i].precio%></p>
            </details>
        </article>
    <% } %>
    <% } else { %>
        <h2>No hubo resultados para esta búsqueda</h2>
    <% } %>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>