<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body onload="myFunction()">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
    <%- include('./partials/header') %>
    <section class="bannerSuscripcion">
        <a href="/users/register">SUSCRIBITE</a>
    </section>
    <hr>
    <section class="nosotros">
        <article>
            <h1>NOSOTROS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deserunt provident tenetur error sit iusto accusantium, aut nobis consequatur eligendi eius perspiciatis, dicta amet labore voluptatum aliquam, cupiditate molestias consequuntur. Corporis quos incidunt, odit aut dolorem eligendi dignissimos inventore repudiandae amet nostrum vel earum nulla, commodi nam laudantium, dicta laboriosam?</p>
        </article>
        <img src="/img/Nosotros.png" alt="Gente Trabajando">
    </section>
    <hr>
    <%- include('./partials/asociate') %>
    <hr>
    <h1 class="titulo">Más Vendidos</h1>
    <%- include('./partials/sectionProducts') %>
    <%- include('./partials/footer') %>
</div>
<script src="/js/loadjs.js" type="text/javascript"> </script> 
</body>
</html>