<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <form action="/admin/cargaProducto/<%=typeof producto != "undefined"? producto.id + "?_method=" + metodo : null %> " method="POST" class="carga" enctype="multipart/form-data">
        <h1 class="carga">Carga de Producto</h1>
        <ul style="list-style: none">
            <% for(let i = 0; i < errors.length; i++ ) { %>
                <li style="color: red"><%= errors[i].msg %> </li>
            <% } %>
        </ul>
        <label for="nombreProducto">Nombre del Producto</label>
        <input type="text" id="nombreProducto" name="nombreProducto" required value="<%=typeof producto != "undefined"? producto.nombre: null%>">
        <label for="precio">Precio</label>
        <input type="number" id="precio" name="precio" required value="<%=typeof producto != "undefined"? producto.precio: null%>">
        <label for="cantidad">Cantidad</label>
        <input type="number" id="cantidad" name="cantidad" required value="<%=typeof producto != "undefined"? producto.stock: null%>">
        <label for="categoria">Categoria</label>
        <select name="categoria" id="categoria" required>
            <% if (typeof categorias != "undefined") {%> 
            <% for(let i=0; i< categorias.length; i++) {%> 
            <option value=<%=categorias[i].id %> <%=typeof producto != "undefined" && producto.id_categoria == categorias[i].id ? "selected": null%>><%=categorias[i].nombre %></option>
            <% } %> 
            <% } %> 
        </select>
        <label for="detalle">Detalle</label>
        <textarea name="detalle" id="detalle" rows="3" required><%=typeof producto != "undefined"? producto.detalle: null%></textarea>
        <label for="imagen">Imágen</label>
        <img src="/img/uploads/products/<%=typeof producto != "undefined"?producto.images[0].nombre:null %> " alt="">
        <input type="file" id="imagen" name="imagen" accept="image/gif, image/jpeg, image/png, image/jpg" <%= (typeof producto == "undefined" || producto.images.length == 0) ? "required": null %> >
        <label for="infoAd">Información Adicional</label>
        <textarea name="infoAd" id="infoAd" rows="5"><%=typeof producto != "undefined"? producto.info_ad: null%></textarea>
        <div>
        <button type=“submit” class="carga">CARGAR</button>
        <button type=“reset” class="reset"><img src="/img/basura2.png" alt="tacho de basura"></button>
        </div>
    </form>
    <%- include('../partials/footer')%>
</body>
</html>