<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/menuProfile') %>
    <section class="formEditInfoPersonal">
        <form action="?_method=PUT" method="POST" class="register" enctype="multipart/form-data">
            <label for="avatar">Avatar</label>
            <% if (typeof user != undefined ){ %> 
                <img src="/img/uploads/avatars/<%=user.imagen %> " height="200" width="200" alt="">
                <% } %> 
            <input type="file" id="avatar" name="avatar">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" value="<%=user.first_name %>" required>
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" value="<%=user.last_name %>" required>
        <div class="date">
            <label for="fecha">Fecha de nacimiento</label>
            <input type="date" id="date" name="date" required>
        </div>
            <label for="domicilio">Domicilio</label>
            <input type="text" id="domicilio" name="domicilio" value="<%=user.domicilio %>"required>
        <section>
            <div>
                <label for="localidad">Localidad</label>
                <input type="text" id="localidad" name="localidad" value="<%=user.localidad %>" required>
            </div>
            <div>
                <label for="provincia">Provincia</label>
                <input type="text" id="provincia" name="provincia" value="<%=user.provincia %>" required>
            </div>
        </section>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" value="<%=user.email %>" required>
            <button type="submit" class="carga">GUARDAR</button>
        </form>
    </section>
    <hr>
    <h1 class="titulo">Más Vendidos</h1>
    <%- include('../partials/sectionProducts') %>
    <%- include('../partials/footer') %>
</body>
</html>