<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/menuProfile') %>
    <section class="infoPersonal">
            <label>Avatar</label>
            <% if (typeof user != "undefined"){ %> 
                <img src="/img/uploads/avatars/<%=user.imagen %> " height="200" width="auto" alt="imagen de perfil del usuario">
                <% } %> 
            <label>Nombre</label>
            <p> <%=user.first_name %></p>
            <label for="apellido">Apellido</label>
            <p><%=user.last_name %></p>
            <label for="domicilio">Domicilio</label>
            <p><%=user.domicilio %></p>
            <label>Localidad</label>
            <p><%=user.localidad %></p>  
            <label>Provincia</label>
            <p><%=user.provincia %></p>
            <label>E-mail</label>
            <p><%=user.email %></p>
        </section>
        <button type=“button” class="carga"><a href="/users/profile/<%= user.id %>/editProfile">EDITAR</a></button> 
    <hr>
    <h1 class="titulo">Más Vendidos</h1>
    <%- include('../partials/sectionProducts') %>
    <%- include('../partials/footer') %>
</body>
</html>